html,
body {
  min-height: 100vh;
  margin: 0px;
  background-image: url('../images/rustic-brick-wall-background.jpg');
  background-size: cover;
  background-repeat: no-repeat
}

body {
  min-height: 100vh;
  margin: 0px;
}

.App {
  min-height: 100vh;
}

svg {
  height: 70vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-button,
.projects-button,
.contact-button {
  font-family: 'neontubes';
  color: #ebedf0;
  margin: 10px;
  text-decoration: none;
  font-size: 1.9vw;
  transition: all .2s ease-in-out;
  text-shadow: 0 0 0 transparent, 0 0 10px #a5adb6, 0 0 20px rgba(145, 154, 162, 0.5), 0 0 40px #788088, 0 0 100px #7f8589, 0 0 200px #aeb1b3, 0 0 300px #b0bcc7, 0 0 500px #63676a;
}

.about-button.active,
.contact-button.active,
.projects-button.active {
  animation: buzz 0.01s infinite alternate;
  color: #ffffff;
  transform: scale(1.1);
  text-shadow: 0 0 0 transparent, 0 0 5px #d5d9dd, 0 0 10px rgba(213, 217, 220, 0.5), 0 0 20px #788088, 0 0 5px #7f8589, 0 0 100px #aeb1b3, 0 0 150px #b0bcc7, 0 0 250px #becbd4;
}

.about-button:hover,
.contact-button:hover,
.projects-button:hover {
  -webkit-animation: buzz 0.01s infinite alternate;
  animation: buzz 0.01s infinite alternate;
  color: #ebedf0;
  transform: scale(1.1);
  text-shadow: 0 0 0 transparent, 0 0 5px #d5d9dd, 0 0 10px rgba(213, 217, 220, 0.5), 0 0 20px #788088, 0 0 5px #7f8589, 0 0 100px #aeb1b3, 0 0 150px #b0bcc7, 0 0 250px #becbd4;
}

button {
  cursor: pointer;
}

@keyframes buzz {
  70% {
    opacity: 0.80;
  }
}

.home-button {
  font-family: 'neontubes';
  font-size: 2.0vw;
  padding: 10px;
  text-decoration: none;
  margin: 10px;
  border-radius: 50px;
  border: 2px solid #cfd4dc;
  color: #ebedf0;
  background: none;
  box-shadow: 0 0 0 transparent, 0 0 5px #d5d9dd, 0 0 10px rgba(213, 217, 220, 0.5), 0 0 20px #788088, 0 0 5px #7f8589, 0 0 10px #aeb1b3, 0 0 150px #b0bcc7, 0 0 250px #becbd4;
  text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
}

.second-container {
  margin-top: 65px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
  .project-container {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .bare-minimum-container,
  .clear-skies-container,
  .porfolio-container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  
  .view-more-close {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 55vw;
    text-align: left;
  }
  
  .exit {
    background-color: none;
    height: 3.5vh;
    filter: drop-shadow(5px 7px 2px rgba(225, 9, 9, 0.4));
    border: none;
  }
  
  .view-more {
    text-align: center;
    font-family: 'neontubes';
    font-size: 2.5vh;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    border: 1px solid white;
    padding: 3.5px 35px;
    width: fit-content;
    color: #d4eaff;
    background-color: rgba(0, 0, 0, 0.539);
    box-shadow: inset 0 0 5px #2783d9,
    inset 0 0 5px #2783d9,
    inset 0 0 20px #2783d9, 0 0 0 transparent, 0 0 5px #2783d9, 0 0 5px #2783d9, 0 0 5px #2783d9,
   0 0 5px;
    text-shadow: 0 0 0 transparent, 0 0 10px #f40505, 0 0 20px #f40505, 0 0 40px #f40505, 0 0 100
  px #f40505, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #f40505, 0 0 1000px #f40505;
   -webkit-border-radius: 10px;
  }
  
  .project-title {
    font-size: 2.5vh;
    border: 1px solid #fff;
    margin: 10px;
    width: fit-content;
    background: none;
    text-align: center;
    font-family: 'neontubes';
    padding: 10px 45px;
    color: #d4eaff;
    background-color: rgba(0, 0, 0, 0.539);
    box-shadow: inset 0 0 5px #2783d9,
    inset 0 0 5px #2783d9,
    inset 0 0 20px #2783d9, 0 0 0 transparent, 0 0 5px #2783d9, 0 0 5px #2783d9, 0 0 5px #2783d9,
   0 0 5px;
    text-shadow: 0 0 0 transparent, 0 0 10px #f40505, 0 0 20px #f40505, 0 0 40px #f40505, 0 0 100
  px #f40505, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #f40505, 0 0 1000px #f40505;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  
  .project-description,
  .tech-used {
    font-weight: bolder;
    font-family: 'neontubes';
    color: white;
    font-size: 2.5vh;
    text-align: center;
  }
  
  .project-image2 {
    border: 2px solid white;
    border-radius: 20px;
    height: 45vh;
    margin: 5px;
    padding: 5px;
  }
  
  .modal-container {
      border: 1px solid white;
      box-shadow: inset 0 0 5px #2783d9,
      inset 0 0 5px #2783d9,
      inset 0 0 20px #2783d9, 0 0 0 transparent, 0 0 5px #2783d9, 0 0 5px #2783d9, 0 0 5px #2783d9,
     0 0 5px;
      border-radius: 20px;
      overflow: scroll;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      height: 65vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      background-color: rgba(18, 17, 17, 0.85);
    }

.about-container {
  background-color: rgba(17, 11, 10, 0.547);
  margin-top: 100px;
  margin-left: 60px;
  width: 60vw;
  height: 65vh;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1.5px solid #ffffff;
  border-radius: 20px;
  -webkit-box-shadow:
    inset 0 0 6px #eab4ba,
    inset 0 0 30px rgba(186, 5, 26, 0.3),
    inset 0 0 90px rgba(186, 5, 26, 0.5),
    0 0 6px #eab4ba,
    0 0 30px rgba(186, 5, 26, 0.3),
    0 0 80px rgba(186, 5, 26, 0.5);
  box-shadow:
    inset 0 0 6px #eab4ba,
    inset 0 0 30px rgba(186, 5, 26, 0.3),
    inset 0 0 90px rgba(186, 5, 26, 0.5),
    0 0 6px #eab4ba,
    0 0 30px rgba(186, 5, 26, 0.3),
    0 0 80px rgba(186, 5, 26, 0.5);
}


.about-me-container {
  height: 60vh;
  text-align: center;
  display: flex;
  align-items: center;
}

.about-me {
  padding-top: 10px;
  margin-top: 5px;
  font-family: 'neontubes';
  width: 90%;
  border-radius: 50px;
  font-weight: bolder;
  font-size: 3.1vh;
  text-shadow:
    0px 0px 5px #10407a,
    0px 0px 10px #165baf,
    0px 0px 10px #0f3e78,
    0px 0px 80px rgba(25, 84, 155, 0.6),
    0px 0px 100px rgba(10, 57, 113, 0.9);
  color: #c0d1cf;
  ;
}

@-webkit-keyframes blink {
  40% {
    opacity: 1;
  }

  42% {
    opacity: 0.8;
  }

  43% {
    opacity: 1;
  }

  45% {
    opacity: 0.2;
  }

  46% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }

  52% {
    opacity: 0.8;
  }

  53% {
    opacity: 1;
  }

  55% {
    opacity: 0.2;
  }

  56% {
    opacity: 1;
  }
}

.about-greeting-coffee {
  -webkit-animation: blink 4s infinite alternate;
  animation: blink 2s infinite alternate;
}

.about-greeting-coffee,
.about-greeting-email {
  font-size: 3.0vh;
  border: 3px solid #fff;
}

.about-greeting-resume,
.about-greeting-coffee,
.about-greeting-email {
  margin: 10px;
  width: fit-content;
  background: none;
  text-align: center;
  font-family: 'neontubes';
  border-radius: 2rem;
  padding: 5px 40px;
  -webkit-box-shadow:
    inset 0 0 6px #e42633,
    inset 0 0 40px #cc2e4b,
    inset 0 0 100px #d21a3c,
    0 0 6px #e42633,
    0 0 40px #e42633,
    0 0 100px #d21a3c;
  box-shadow:
    inset 0 0 6px #e42633,
    inset 0 0 40px #cc2e4b,
    inset 0 0 100px #d21a3c,
    0 0 6px #e42633,
    0 0 40px #e42633,
    0 0 100px #d21a3c;
  text-shadow:
    0px 0px 5px #318BF7,
    0px 0px 10px #318BF7,
    0px 0px 10px #318BF7,
    0px 0px 80px rgba(49, 139, 247, 0.6),
    0px 0px 100px rgba(49, 139, 247, 0.9);
  color: #AFFCF4;
  -webkit-border-radius: 55px;
  border-radius: 55px
}

.about-greeting-resume {
  margin-top: 20px;
  font-size: 3.5vh;
  border: 2px solid #f7f4f4;
  -webkit-animation: blink 4s infinite alternate;
  animation: blink 2s infinite alternate;
}

/* @media only screen and (max-width: 600px) { */
  /* .light-section {
    display: none;
  }

  .about-button,
  .projects-button,
  .contact-button,
  .home-button {
    font-size: 3vh;
  }

  .home-container {
    display: flex;
    justify-content: center;
  }

  .social-media-container,
  .contact-small-container {
    flex-wrap:wrap;
  }

  .main {
    display: inline-block;
    justify-content: center;
    margin-left: 0px;
  }

  .title-container {
    flex-direction: column;
  }

  .name,
  .first-last {
    font-size: 8vh;
  }

  .title-original {
    font-size: 7vh;
    margin-left: 15px;
  }

  .title-last {
    font-size: 7vh;
  }

  .title {
    font-size: 8vh;
  }

  nav {
    display: flex;
    flex-direction: column;
  }
} */