html, body {
  min-height: 100vh;
  margin: 0px;
  background-image: url('../images/rustic-brick-wall-background.jpg');
  background-size: cover;
  background-repeat: no-repeat
}

.App {
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-button,
.projects-button,
.contact-button {
  font-family: 'neontubes';
  color: #ebedf0;
  margin: 10px;
  text-decoration: none;
  font-size: 2vw;
  text-shadow: 0 0 0 transparent, 0 0 10px #a5adb6, 0 0 20px rgba(145, 154, 162, 0.5), 0 0 40px #788088, 0 0 100px #7f8589, 0 0 200px #aeb1b3, 0 0 300px #b0bcc7, 0 0 500px #63676a;
}
 
.home-button {
  font-family: 'neontubes';
  font-size: 2.5vw;
  padding: 10px;
  text-decoration: none;
  margin: 10px;
  border-radius: 20px;
  border: 2px solid #ebedf0;
  color: #ebedf0;
  background: none;
  box-shadow: 0 0 0 transparent, 0 0 10px #d5d9dd, 0 0 20px rgba(213, 217, 220, 0.5), 0 0 40px #788088, 0 0 100px #7f8589, 0 0 200px #aeb1b3, 0 0 300px #b0bcc7, 0 0 500px #becbd4;
  text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;}