@font-face {
  font-family: 'neontubes';
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix") format("embedded-opentype"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2") format("woff2"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff") format("woff"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.name-container,
.title-container {
  display: flex;
}

.main {
  display: flex;
  margin-left: 50px;
  height: 90vh;
  width: 50vw;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-family: 'neontubes';
  text-align: center;
}

.main,
.name {
  color: #ffd9e2;
  text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
}

.first-last {
  -webkit-animation: blink 5s infinite alternate;
  animation: blink 3s infinite alternate;
}

.name,
.title-last {
  -webkit-animation: blink 4s infinite alternate;
  animation: blink 2s infinite alternate;
}

.name-container {
  font-size: 8vw;
}

.main .title-container {
  font-size: 5vw;
  color: #d4eaff;
  text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
}

@-webkit-keyframes blink {
  40% {
    opacity: 1;
  }

  42% {
    opacity: 0.8;
  }

  43% {
    opacity: 1;
  }

  45% {
    opacity: 0.2;
  }

  46% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }

  52% {
    opacity: 0.8;
  }

  53% {
    opacity: 1;
  }

  55% {
    opacity: 0.2;
  }

  56% {
    opacity: 1;
  }
}

.home-container {
  display: flex;
  height: 90vh;
}

@keyframes swing {
  from {
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  to {
    transform: rotate(-3deg);
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.strip {
  position: relative;
  width: 18px;
  height: 2px;
  right: 1px;
  top: 4px;
  background-color: rgb(65, 71, 66);
}

.strip:nth-of-type(2) {
  top: 7px;
}

.strip:nth-of-type(3) {
  top: 10px;
}

.home-bulb {
  position: relative;
  -webkit-animation: blink 5s infinite alternate;
  animation: blink 5s infinite alternate;
  width: 40px;
  height: 40px;
  left: 80px;
  bottom: 2px;
  z-index: -1;
  background-color: rgb(240, 235, 216, 0.9);
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 300px 77px rgba(235, 209, 164, 1);
  -moz-box-shadow: 0px 0px 300px 77px rgba(235, 209, 164, 1);
  box-shadow: 0px 0px 300px 77px rgba(235, 209, 164, 1);
}

.bracket {
  position: relative;
  background-color: transparent;
  width: 10px;
  height: 5px;
  border-radius: 5px / 2.5px;
  left: 14px;
  border: black solid 1px;
}

.bracket:nth-of-type(2) {
  top: -3px;
}

.bracket:nth-of-type(3) {
  top: -6px;
}

.wire {
  position: relative;
  left: 98px;
  height: 200px;
  width: 4px;
}

.wire {
  position: relative;
  left: 98px;
  height: 200px;
  width: 4px;
  background-color: black;
}

.light-section {
  width: 200px;
  height: 80vh;
  margin-left: 50px;
  animation: swing 1s infinite ease-in-out alternate;
  transform-origin: top;
  -moz-transform-origin: top;
  -webkit-transform-origin: top;
}

.fixture {
  position: relative;
  background-color: grey;
  width: 16px;
  height: 20px;
  left: 92px;
}

@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(10deg);
  }

  50% {
    -webkit-transform: rotate(-5deg)
  }

  100% {
    -webkit-transform: rotate(10deg);
  }
}

@keyframes swinging {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-5deg)
  }

  100% {
    transform: rotate(10deg);
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.swingimage {
  height: 50vh;
  width: 35vw;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite;
}

.contact-small-container {
  display: flex;
  justify-content: center;
}

.social-media-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  justify-content: center;
}

img.dribble-logo,
img.github-logo,
img.linkedin-logo,
img.instagram-logo {
  filter: drop-shadow(5px 7px 2px rgba(225, 9, 66, 0.4));
  height: 10vh;
  margin: 20px;
  display: flex;
  align-content: center;
  transition: all .2s ease-in-out;
  margin: 50px;
}

img.dribble-logo:hover,
img.github-logo:hover,
img.linkedin-logo:hover,
img.instagram-logo:hover {
  transform: scale(1.1);
}

#christmas-lights {
  height: 20vh;
  margin: 0;
  position: relative;
  width: 100vw;
}

.light-cord {
  fill: none;
  stroke: #6c6464;
}

.light-fixture {
  fill: #0c311c;
}

.red-bulb {
  fill: #f5f5e3;
  filter: drop-shadow(5px 7px 2px rgba(238, 240, 221, 0.3));
  stroke-miterlimit: 9;
}

.green-bulb {
  fill: #f5f5e3;
  filter: drop-shadow(5px 7px 2px rgba(238, 240, 221, 0.3));
  stroke-miterlimit: 9;
}

.blue-bulb {
  fill: #f5f5e3;
  filter: drop-shadow(5px 7px 2px rgba(238, 240, 221, 0.3));
  stroke-miterlimit: 9;
}

.white-bulb {
  fill: #f5f5e3;
  filter: drop-shadow(5px 7px 2px rgba(238, 240, 221, 0.3));
  stroke-miterlimit: 9;
}

.gold-bulb {
  fill: #f5f5e3;
  filter: drop-shadow(5px 7px 2px rgba(238, 240, 221, 0.3));
  stroke-miterlimit: 9;
}

.bulb {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: glow;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  animation-name: glow;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@-webkit-keyframes glow {
  0% {
    fill-opacity: 0.45;
  }

  100% {
    fill-opacity: 1
  }
}

@keyframes glow {
  0% {
    fill-opacity: 0.45;
  }

  100% {
    fill-opacity: 1.0
  }
}

.blink-1 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.blink-2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.blink-3 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.blink-4 {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.blink-5 {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.blink-6 {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

.blink-7 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.blink-8 {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.blink-9 {
  -webkit-animation-delay: 0.95s;
  animation-delay: 0.95s;
}

.blink-10 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

html,
body {
  min-height: 100vh;
  margin: 0px;
  background-image: url('../Components/images/rustic-brick-wall-background.jpg');
  background-size: cover;
  background-repeat: no-repeat
}

body {
  min-height: 100vh;
  margin: 0px;
}

.App {
  min-height: 100vh;
}

svg {
  height: 70vh;
}

nav {
  background-color: rgba(0, 0, 0, 0.563);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-button,
.projects-button,
.contact-button {
  font-family: 'neontubes';
  color: #ebedf0;
  margin: 10px;
  text-decoration: none;
  font-size: 1.9vw;
  transition: all .2s ease-in-out;
  text-shadow: 0 0 0 transparent, 0 0 10px #a5adb6, 0 0 20px rgba(145, 154, 162, 0.5), 0 0 40px #788088, 0 0 100px #7f8589, 0 0 200px #aeb1b3, 0 0 300px #b0bcc7, 0 0 500px #63676a;
}

.about-button.active,
.contact-button.active,
.projects-button.active {
  animation: buzz 0.01s infinite alternate;
  color: #ffffff;
  transform: scale(1.1);
  text-shadow: 0 0 0 transparent, 0 0 5px #d5d9dd, 0 0 10px rgba(213, 217, 220, 0.5), 0 0 20px #788088, 0 0 5px #7f8589, 0 0 100px #aeb1b3, 0 0 150px #b0bcc7, 0 0 250px #becbd4;
}

.about-button:hover,
.contact-button:hover,
.projects-button:hover {
  -webkit-animation: buzz 0.01s infinite alternate;
  animation: buzz 0.01s infinite alternate;
  color: #ebedf0;
  transform: scale(1.1);
  text-shadow: 0 0 0 transparent, 0 0 5px #d5d9dd, 0 0 10px rgba(213, 217, 220, 0.5), 0 0 20px #788088, 0 0 5px #7f8589, 0 0 100px #aeb1b3, 0 0 150px #b0bcc7, 0 0 250px #becbd4;
}

button {
  cursor: pointer;
}

@keyframes buzz {
  70% {
    opacity: 0.80;
  }
}

.home-button {
  font-family: 'neontubes';
  font-size: 2.0vw;
  padding: 10px;
  text-decoration: none;
  margin: 10px;
  border-radius: 50px;
  border: 2px solid #cfd4dc;
  color: #ebedf0;
  background: none;
  box-shadow: 0 0 0 transparent, 0 0 5px #d5d9dd, 0 0 10px rgba(213, 217, 220, 0.5), 0 0 20px #788088, 0 0 5px #7f8589, 0 0 10px #aeb1b3, 0 0 150px #b0bcc7, 0 0 250px #becbd4;
  text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
}

.second-container {
  margin-top: 65px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-container {
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.bare-minimum-container,
.clear-skies-container,
.porfolio-container,
.knit-container {
  margin: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.view-more-close {
  border: none;
  margin-top: 8px;
  background-color: rgba(0, 0, 0, 0);
  width: 850px;
  text-align: left;
}

.exit {
  background-color: none;
  height: 30px;
  filter: drop-shadow(5px 7px 2px rgba(225, 9, 9, 0.4));
  border: none;
}

.view-more {
  text-align: center;
  font-family: 'neontubes';
  font-size: 2.5vh;
  color: white;
  font-weight: bolder;
  border-radius: 10px;
  border: 1px solid white;
  padding: 3.5px 35px;
  width: fit-content;
  color: #d4eaff;
  background-color: rgba(0, 0, 0, 0.539);
  box-shadow: inset 0 0 5px #2783d9,
    inset 0 0 5px #2783d9,
    inset 0 0 20px #2783d9, 0 0 0 transparent, 0 0 5px #2783d9, 0 0 5px #2783d9, 0 0 5px #2783d9,
    0 0 5px;
  text-shadow: 0 0 0 transparent, 0 0 10px #f40505, 0 0 20px #f40505, 0 0 40px #f40505, 0 0 100 px #f40505, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #f40505, 0 0 1000px #f40505;
  -webkit-border-radius: 10px;
}

.project-title {
  font-size: 2.5vh;
  border: 1px solid #fff;
  margin: 10px;
  width: fit-content;
  background: none;
  text-align: center;
  font-family: 'neontubes';
  padding: 10px 45px;
  color: #d4eaff;
  background-color: rgba(0, 0, 0, 0.539);
  box-shadow: inset 0 0 5px #2783d9,
    inset 0 0 5px #2783d9,
    inset 0 0 20px #2783d9, 0 0 0 transparent, 0 0 5px #2783d9, 0 0 5px #2783d9, 0 0 5px #2783d9,
    0 0 5px;
  text-shadow: 0 0 0 transparent, 0 0 10px #f40505, 0 0 20px #f40505, 0 0 40px #f40505, 0 0 100 px #f40505, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #f40505, 0 0 1000px #f40505;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.project-description,
.tech-used {
  font-weight: bolder;
  font-family: 'neontubes';
  color: white;
  font-size: 2.5vh;
  text-align: center;
}

.project-image {
  height: 40vh;
  margin-bottom: -20px;
}

.project-image2 {
  border: 2px solid white;
  border-radius: 20px;
  height: 45vh;
  margin: 5px;
  padding: 5px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 55%;
  width: 700px;
  height: 550px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.modal-container2 {
  height: 450px;
  width: 700px;
  border: 1px solid white;
  box-shadow: inset 0 0 5px #2783d9,
    inset 0 0 5px #2783d9,
    inset 0 0 20px #2783d9, 0 0 0 transparent, 0 0 5px #2783d9, 0 0 5px #2783d9, 0 0 5px #2783d9,
    0 0 5px;
  border-radius: 20px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(18, 17, 17, 0.85);
}

.about-container {
  background-color: rgba(17, 11, 10, 0.547);
  margin-top: 100px;
  margin-left: 60px;
  width: 60vw;
  height: 50vh;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1.5px solid #ffffff;
  border-radius: 20px;
  -webkit-box-shadow:
    inset 0 0 6px #eab4ba,
    inset 0 0 30px rgba(186, 5, 26, 0.3),
    inset 0 0 90px rgba(186, 5, 26, 0.5),
    0 0 6px #eab4ba,
    0 0 30px rgba(186, 5, 26, 0.3),
    0 0 80px rgba(186, 5, 26, 0.5);
  box-shadow:
    inset 0 0 6px #eab4ba,
    inset 0 0 30px rgba(186, 5, 26, 0.3),
    inset 0 0 90px rgba(186, 5, 26, 0.5),
    0 0 6px #eab4ba,
    0 0 30px rgba(186, 5, 26, 0.3),
    0 0 80px rgba(186, 5, 26, 0.5);
}


.about-me-container {
  height: 80vh;
  text-align: center;
  display: flex;
  align-items: center;
}

.about-me {
  padding-top: 10px;
  margin-top: 5px;
  font-family: 'neontubes';
  width: 90%;
  border-radius: 50px;
  font-weight: bolder;
  font-size: 3.1vh;
  text-shadow:
    0px 0px 5px #10407a,
    0px 0px 10px #165baf,
    0px 0px 10px #0f3e78,
    0px 0px 80px rgba(25, 84, 155, 0.6),
    0px 0px 100px rgba(10, 57, 113, 0.9);
  color: #c0d1cf;
  ;
}

@-webkit-keyframes blink {
  40% {
    opacity: 1;
  }

  42% {
    opacity: 0.8;
  }

  43% {
    opacity: 1;
  }

  45% {
    opacity: 0.2;
  }

  46% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }

  52% {
    opacity: 0.8;
  }

  53% {
    opacity: 1;
  }

  55% {
    opacity: 0.2;
  }

  56% {
    opacity: 1;
  }
}

.about-greeting-coffee {
  -webkit-animation: blink 4s infinite alternate;
  animation: blink 2s infinite alternate;
}

.about-greeting-coffee,
.about-greeting-email {
  font-size: 3.0vh;
  border: 3px solid #fff;
}

.about-greeting-resume,
.about-greeting-coffee,
.about-greeting-email {
  margin: 10px;
  width: fit-content;
  background: none;
  text-align: center;
  font-family: 'neontubes';
  border-radius: 2rem;
  padding: 5px 40px;
  -webkit-box-shadow:
    inset 0 0 6px #e42633,
    inset 0 0 40px #cc2e4b,
    inset 0 0 100px #d21a3c,
    0 0 6px #e42633,
    0 0 40px #e42633,
    0 0 100px #d21a3c;
  box-shadow:
    inset 0 0 6px #e42633,
    inset 0 0 40px #cc2e4b,
    inset 0 0 100px #d21a3c,
    0 0 6px #e42633,
    0 0 40px #e42633,
    0 0 100px #d21a3c;
  text-shadow:
    0px 0px 5px #318BF7,
    0px 0px 10px #318BF7,
    0px 0px 10px #318BF7,
    0px 0px 80px rgba(49, 139, 247, 0.6),
    0px 0px 100px rgba(49, 139, 247, 0.9);
  color: #AFFCF4;
  -webkit-border-radius: 55px;
  border-radius: 55px
}

.about-greeting-source {
  padding: 5px 40px;
  color: #ffffff;
  margin: 5px;
  border: 2px solid #f7f4f4;
  width: fit-content;
  background: none;
  text-align: center;
  text-decoration: none;
  font-family: 'neontubes';
  border-radius: 2rem;
  font-size: 2.0vh;
  -webkit-box-shadow:
    inset 0 0 6px #e42633,
    inset 0 0 40px #cc2e4b,
    inset 0 0 100px #d21a3c,
    0 0 6px #e42633,
    0 0 40px #e42633,
    0 0 100px #d21a3c;
  box-shadow:
    inset 0 0 6px #e42633,
    inset 0 0 40px #cc2e4b,
    inset 0 0 100px #d21a3c,
    0 0 6px #e42633,
    0 0 40px #e42633,
    0 0 100px #d21a3c;
  text-shadow:
    0px 0px 5px #318BF7,
    0px 0px 10px #318BF7,
    0px 0px 10px #318BF7,
    0px 0px 80px rgba(49, 139, 247, 0.6),
    0px 0px 100px rgba(49, 139, 247, 0.9);
  -webkit-border-radius: 55px;
  border-radius: 55px
}

.about-greeting-resume {
  margin-top: 20px;
  font-size: 3.5vh;
  border: 2px solid #f7f4f4;
  -webkit-animation: blink 4s infinite alternate;
  animation: blink 2s infinite alternate;
}

@media screen and (max-width: 850px) {

  .view-more-close {
    width: 700px;
  }

  .exit {
    height: 25px;
  }

  .modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 55%;
    width: 480px;
    height: 480px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
  }
  .modal-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 55%;
    width: 600px;
    height: 420px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
  }
}


@media screen and (max-width: 650px) {
  .main {
    display: flex;
    height: 50vh;
    justify-content: center;
    margin: 0px;
    width:fit-content;
    margin-left: 0px;
  }

  .about-me-container {
    display: flex;
    margin-top: 30px;
    height: 70vh;
    justify-content: center;
    align-content: center;
  }

  .project-title,
  .view-more {
    margin-bottom: -20px;
    font-size: 2vh;
  }

  .clear-skies-container,
  .bare-minimum-container,
  .porfolio-container,
  .knit-container {
    margin: 50px;
    padding: 15px;
  }

  .about-me,
  .project-description,
  .tech-used {
    font-size: 2vh;
  }

  .view-more-close {
    width: 95vw;
  }

  .modal-container {
    width: 80vw;
    height: 62vh;
  }

  .modal-container2 {
    width: 80vw;
    height: 50vh;
  }

  .exit {
    height: 25px;
  }

  .project-image2 {
    height: 25vh;
  }

  .about-container {
    width: 46vh;
    margin: 0px;
  }

  .second-container {
    display: flex;
    height: 70vh;
    margin-top: 0px;
  }

  .light-section {
    display: none;
  }

  .about-button,
  .projects-button,
  .contact-button,
  .home-button {
    font-size: 3vh;
  }

  .home-container {
    height: 50vh;
    display: flex;
    overflow: clip;
    justify-content: center;
  }

  .social-media-container,
  .contact-small-container {
    flex-wrap: wrap;
    margin: 0px;
  }

  .social-media-container {
    margin-top: -45px;
  }

  .title-container {
    align-content: center;
    justify-content:center;
    text-align: center;
    flex-direction: column;
  }

  .name,
  .first-last {
    font-size: 7vh;
  }

  img.dribble-logo,
  img.github-logo,
  img.linkedin-logo,
  img.instagram-logo {
    height: 5.6vh;
  }

  .about-greeting-email,
  .about-greeting-coffee {
    font-size: 2vh;
  }

  .name-container {
    width: fit-content;
    justify-content: center;
  }

  .title-original {
    font-size: 7vh;
    margin-left: 25px;
    justify-content: center;
  }

  .title-last {
    font-size: 7vh;
  }

  .title {
    font-size: 7vh;
  }

  .project-container {
    margin-top: 0px;
  }

  nav {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
  }
}