@font-face {
  font-family: 'neontubes';
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix") format("embedded-opentype"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2") format("woff2"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff") format("woff"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.project-container {
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.bare-minimum-container,
.clear-skies-container,
.porfolio-container {
  margin: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.view-more {
  text-align: center;
  font-family: 'neontubes';
  font-size: 2.0vh;
  color: white;
  border-radius: 2rem;
  border: 2px solid white;
  padding: 3.5px 35px;
  width: fit-content;
  background: none;
  -webkit-box-shadow:
    inset 0 0 6px #e42633,
    inset 0 0 40px #cc2e4b,
    inset 0 0 70px #d21a3c,
    0 0 6px #e42633,
    0 0 40px #e42633,
    0 0 100px #d21a3c;
  box-shadow:
    inset 0 0 6px #18189f,
    inset 0 0 20px #18189f,
    inset 0 0 80px #18189f,
    0 0 6px #18189f,
    0 0 20px #18189f,
    0 0 80px #18189f;
  text-shadow:
    0px 0px 5px #ec0e0e,
    0px 0px 10px #ec0e0e,
    0px 0px 10px #ec0e0e,
    0px 0px 80px #ec0e0e,
    0px 0px 100px #ec0e0e;
  color: #b6b3db;
}

.project-title {
  margin: 0px;
  font-family: 'neontubes';
  font-size: 3.5vh;
  color: white;
  border-radius: 2rem;
  border: 2px solid white;
  padding: 10px 45px;
  -webkit-box-shadow:
    inset 0 0 6px #e42633,
    inset 0 0 40px #cc2e4b,
    inset 0 0 70px #d21a3c,
    0 0 6px #e42633,
    0 0 40px #e42633,
    0 0 100px #d21a3c;
  box-shadow:
    inset 0 0 6px #18189f,
    inset 0 0 20px #18189f,
    inset 0 0 70px #18189f,
    0 0 6px #18189f,
    0 0 20px #18189f,
    0 0 70px #18189f;
  text-shadow:
    0px 0px 5px #ec0e0e,
    0px 0px 10px #ec0e0e,
    0px 0px 10px #ec0e0e,
    0px 0px 80px #ec0e0e,
    0px 0px 100px #ec0e0e;
  color: #b6b3db;
  -webkit-border-radius: 30px;
  border-radius: 10px
}

.project-image {
  border-radius: 10px;
  height: 35vh;
  padding: 20px;
}

.project-description {
  font-family: 'neontubes';
  color: white;
}

.modal-container {
  top: 50%;
  left: 50%;
  width: 80vh;
  height: 80vh;
  margin-top: -17em;
  margin-left: -19em;
  position: fixed;
  background-color: rgba(0, 0, 0);
}


::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(226, 220, 220, 0.5);
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

.name-container,
.title-container {
  display: flex;
}

.main {
  display: flex;
  margin-left: 50px;
  height: 90vh;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-family: 'neontubes';
  text-align: center;
}

.main,
.name {
  color: #ffd9e2;
  text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
}

.first-last {
  -webkit-animation: blink 5s infinite alternate;
  animation: blink 3s infinite alternate;
}

.name,
.title-last {
  -webkit-animation: blink 4s infinite alternate;
  animation: blink 2s infinite alternate;
}

.name-container {
  font-size: 8vw;
  ;
}

.main .title-container {
  font-size: 5vw;
  color: #d4eaff;
  text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
}

@-webkit-keyframes blink {
  40% {
    opacity: 1;
  }

  42% {
    opacity: 0.8;
  }

  43% {
    opacity: 1;
  }

  45% {
    opacity: 0.2;
  }

  46% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }

  52% {
    opacity: 0.8;
  }

  53% {
    opacity: 1;
  }

  55% {
    opacity: 0.2;
  }

  56% {
    opacity: 1;
  }
}

.home-container {
  display: flex;
  height: 90vh;
}

@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(10deg);
  }

  50% {
    -webkit-transform: rotate(-5deg)
  }

  100% {
    -webkit-transform: rotate(10deg);
  }
}

@keyframes swinging {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-5deg)
  }

  100% {
    transform: rotate(10deg);
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.swingimage {
  height: 50vh;
  width: 35vw;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite;
}

.contact-small-container {
  display: flex;
  justify-content: center;
}

.social-media-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  justify-content: center;
}

img.dribble-logo,
img.github-logo,
img.linkedin-logo,
img.instagram-logo {
  filter: drop-shadow(5px 7px 2px rgba(225, 9, 66, 0.4));
  height: 10vh;
  margin: 20px;
  display: flex;
  align-content: center;
  transition: all .2s ease-in-out;
  margin: 50px;
}

img.dribble-logo:hover,
img.github-logo:hover,
img.linkedin-logo:hover,
img.instagram-logo:hover {
  transform: scale(1.1);
}

#christmas-lights {
  height: 20vh;
  margin: 0;
  position: relative;
  width: 100vw;
  /* z-index: 1000 */
}

.light-cord {
  fill: none;
  stroke: #6c6464;
}

.light-fixture {
  fill: #0c311c;
}

.red-bulb {
  fill: #f5f5e3;
  filter: drop-shadow(5px 7px 2px rgba(238, 240, 221, 0.3));
  stroke-miterlimit: 9;
}

.green-bulb {
  fill: #f5f5e3;
  filter: drop-shadow(5px 7px 2px rgba(238, 240, 221, 0.3));
  stroke-miterlimit: 9;
}

.blue-bulb {
  fill: #f5f5e3;
  filter: drop-shadow(5px 7px 2px rgba(238, 240, 221, 0.3));
  stroke-miterlimit: 9;
}

.white-bulb {
  fill: #f5f5e3;
  filter: drop-shadow(5px 7px 2px rgba(238, 240, 221, 0.3));
  stroke-miterlimit: 9;
}

.gold-bulb {
  fill: #f5f5e3;
  filter: drop-shadow(5px 7px 2px rgba(238, 240, 221, 0.3));
  stroke-miterlimit: 9;
}


/* Simply changing the opacity of the SVG fill to create the glow effect for the bulbs */

.bulb {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: glow;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  animation-name: glow;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@-webkit-keyframes glow {
  0% {
    fill-opacity: 0.45;
  }

  100% {
    fill-opacity: 1
  }
}

@keyframes glow {
  0% {
    fill-opacity: 0.45;
  }

  100% {
    fill-opacity: 1.0
  }
}


/* Made a set of ten animation delays to create a more random effect of lights blinking.  Simplest way without jumping through SVG hoops. */

.blink-1 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.blink-2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.blink-3 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.blink-4 {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.blink-5 {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.blink-6 {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

.blink-7 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.blink-8 {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.blink-9 {
  -webkit-animation-delay: 0.95s;
  animation-delay: 0.95s;
}

.blink-10 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}